@font-face {
	font-family: 'op1';
	src: url('../fonts/Asadera-regular.otf');
}

@font-face {
	font-family: 'op2';
	src: url('../fonts/AUTHENTICSans-60.otf');

}

@font-face {
	font-family: 'op3';
	src: url('../fonts/AUTHENTICSans-90.otf');

}
